.product-container {
    background-color: #D34735;
    /* height: 250px; */
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
    border-radius: 5px;
    padding: 10px;

}

.product-info{
    /* background-color: pink; */
    display: flex;
    width: 400px;
    justify-content: space-between;
    

}

#product-img{
    height:200px;
    width: 300px;
}